.product-page {
  width: 1226px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  .product-text {
    margin-bottom: 20px;

    width: 513px;
    height: 190px;
    float: left;
    margin: 137px;
  }

  .product-text2 {
    width: 513px;
    height: 190px;
    float: right;
  }
}
