.full {
  padding: 50px;

  .girls {
    width: 900px;
    min-height: 50px;
    margin: 0 auto;
  }

  .girl {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .girl-pic {
    background-color: chartreuse;
    height: 250px;
    width: 250px;
    background-image: url(../images/about-client-01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .girl-text {
    width: 600px;
  }
}

.boy-info {
  padding: 50px;

  .boys {
    width: 900px;
    min-height: 50px;
    margin: 0 auto;
  }
  .boy {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .boy-pic {
    background-color: chartreuse;
    height: 250px;
    width: 250px;
    background-image: url(../images/about-client-02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .boy-text {
    width: 600px;
  }
}
